{#
    Responsive Menu Jinja template file.
    Not Safe to Copy
#}

<div id="themes-banner">
    Looking for some pre designed themes?
    <a target="_blank" href="https://responsive.menu/themes?utm_source=pro-plugin&utm_medium=banner&utm_campaign=themes" class="button">Buy some today</a>
</div>

<div id="docs-banner">
    Confused? Check out our knowledgebase
    <a target="_blank" href="https://responsive.menu/knowledgebase?utm_source=pro-plugin&utm_medium=banner&utm_campaign=knowledgebase" class="button">View Knowledgebase</a>
</div>
